header{
       background-color: aquamarine;
        width: 100%;
        font-size: 25px;
        color: black;
        text-align: left;
        text-decoration: none;
}

.encabezado{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}

h3{
    color: rgb(71, 67, 67);
    margin: 5px;
}

.navegacion{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    flex-direction: row;
    margin: 10px;
    padding: 10px;

}

body{
background-color:rgb(100, 161, 241)

}

h5{
    color: rgb(1, 0, 5);
    font-size: 18px;
}
ul,ol,li,a{
    list-style: none;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 1600;
  }

.card{
   display: flex;
        }

.card-image{
     display: flex;
     flex-direction: column;
            }

img{
 border-radius: 10%;
width: 200px;
     }

.card-data{
     display: flex;
    flex-direction:column ;        
    justify-content: space-between;
    margin: 5px;
    padding: 5px;
    }