/* cabecera */
@media (max-width: 460px){
    body{
        
    }

    .logo{
        border-radius: 30%;
        width: 50%;
    }

    .main-header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
 .main-header li, .main-header a{
     list-style: none;
     text-decoration: none;
     background-color:blue;
     color: white;
     margin: 5px;
     padding: 10px;
     text-transform: uppercase;
     text-align: center;
 }
}