body{
    background-color: violet;
    font-family: 'Suez One', serif;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

header{
    background-color: white;
    width: 100%;
}

header img{
    margin-right: 1.5%;
    margin-left: 1.5%;
    float: right;
    
}

header a{
    text-decoration: none;
    font-size: 125%;
    color: blue;
}

header nav ul li{
    float: left;
    list-style: none;
    margin: 1.5%;
    line-height: 100px;
}

form{
    margin-top: 5%;
}

h3{
    color: rgb(71, 67, 67);
    margin: 5px;
}

.navegacion{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
}

h5{
    color: rgb(1, 0, 5);
    font-size: 18px;
}
ul,ol,li,a{
    list-style: none;
}



.card{
   display: flex;
        }

.card-image{
     display: flex;
     flex-direction: column;
            }

img{
 border-radius: 10%;
width: 200px;
     }

.card-data{
     display: flex;
    flex-direction:column ;        
    justify-content: space-between;
    margin: 5px;
    padding: 5px;
    }