/* Resets */

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/* Generales */

body {
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: normal;
}
.container{
    display: flex;
    background-color: rgb(0, 0, 0);
    width: 95%;
    flex-direction: column;
    margin-left: 2.5%;
}
section{
    font-family: 'Suez One', serif;
}
section h1{
    margin-bottom: 2%;
    font-family: 'Suez One', serif;
}

/* Cabecera */

.main-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Suez One', serif;
    width: 100%;
}
.logo{
    width: 100%;
}
.main-header li, .main-header a{
    background-color: rgb(31, 31, 73);
    font-family: 'Suez One', serif;
    list-style: none;
    color: white;
    text-decoration: none;
    margin: 2%;
    padding: 1px;
    text-align: center;
    font-size: 20px;
}
.navegacion{
    margin-top: 4%;
    width: 95%;
}

/* Lista de artistas */
.artistas img{
    width: 50%;
    margin-left: 15%;
    border-radius: 10px;
}

.artistas h1{
    margin-top: 5%;
    margin-bottom: 3%;
    text-align: center;
    background-color: rgb(31, 31, 73);
    padding: 4%;
}
.artistas{
    flex-direction: column;
    align-items: center;
}
.artistas a, h3{
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 150%;
}
.marco-artistas{
    align-items: center;
    background-color: rgb(19, 19, 45);
    margin-bottom: 5%;
    border-radius: 10px;
}
.scott{
    margin: 2%;
}
.mars{
    margin: 2%;
}
.malone{
    margin: 2%;
}
.drake{
    margin: 10.5%;
}


/* Lista de Canciones */
.canciones h1{
    background-color: rgb(31, 31, 73);
    padding: 4%;
    text-align: center;
    margin-bottom: 5%;
}
.canciones img{
    width: 20%;
    border-radius: 15%;
    margin-left: 9%;

}
.canciones h3{
    margin-left: 3%;
    
}
.marco-canciones{
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5%;
}

.marco-canciones a{
    text-decoration: none;
}

/* lista albumes */

.albumes img{
    width: 50%;
    margin-left: 15%;
    border-radius: 10px;
}

.albumes h3{
        margin-left: 25%;
}

.albumes h1{
    background-color: rgb(31, 31, 73);
    text-align: center;
    padding: 4%;
}
.marco-albumes{
    background-color: rgb(19, 19, 45);
    margin-bottom: 5%;
    align-items: center;
    margin: 25px;
    padding: 20px;
    border-radius: 10px;
}

.marco-albumes a{
    text-decoration: none;
}

/* footer */

footer ul, a, li{
    text-decoration: none;
    font-family: 'Arapey', serif;
    display: flex;
    font-size: 14px;
    justify-content: center;   
    margin: 4px;
    color: white;
}
footer p{
    font-family: 'Arapey', serif;
    font-size: 11px;
    text-align: center;
    margin: 1px;
    padding: 5px;
}
/* playlist */

.playlist h1{
    font-weight: normal; 
    margin-top: 5%;
    background-color: rgb(31, 31, 73);
    text-align: center;
    padding: 4%;
    margin-bottom: 5%;
}
/* Generos */

.card-genero h1{
    font-weight: normal;
    margin-top: 5%;
    background-color: rgb(31, 31, 73);
    text-align: center;
    padding: 4%;
    margin-bottom: 5%;
   
}
.generos{
    padding: 3%;
    margin: 2%;
   
}
.generos a{
    font-size: 20px;
    font-weight: normal;
    font-family: 'Suez One', serif;
}

.generos img{
    width: 50%;
}

.generos h1{
    font-weight: normal;
    margin-top: 3%;
    background-color: rgb(19, 19, 45);
    text-align: center;
    padding: 4%;
}

.generos h2{
    margin-left: 8%;
}

/* Detalle de Artistas */

.detalle-artistas h1{
    font-weight: normal;
    margin-top: 5%;
    background-color: rgb(31, 31, 73);
    text-align: center;
    padding: 4%;
    margin-bottom: 5%;
}
.detalle-artistas img{
    width: 80%;
    margin-left: 10%;
    border-radius: 50%;
    margin-top: 2%;
    margin-bottom: 3%;
}
.card-detalle h3{
    font-size: 180%;
}
.card-detalle{
    display: flex;
    background-color: rgb(42, 41, 41);
    margin: 5%;
    flex-direction: column;
    border-radius: 1%;
}

.card-detalle h5{
    text-align: center;
    font-size: 120%;
    margin-bottom: 1%;
    background-color: rgb(41, 41, 43);
}

.card-detalle li{
    margin: 2%;
}

/* Detalle de Albumes*/

.detalle-albumes h1{
    font-weight: normal;
    margin-top: 5%;
    background-color: rgb(31, 31, 73);
    text-align: center;
    padding: 4%;
    margin-bottom: 5%;
}

.detalle-albumes img{
    width: 80%;
    margin-left: 10%;
    border-radius: 50%;
    margin-top: 2%;
    margin-bottom: 3%;
}
.card-albumes h3{
    margin: 5%;
    padding: 10px;
    background-color: rgb(31, 31, 73);
}
.card-albumes{
    margin: 5%;
    display: flex;
    flex-direction: column;
    background-color: rgb(42, 41, 41);
}
.card-albumes ul{
    margin-right: 50%;
    margin-bottom: 3%;
}
.card-albumes h5{
    font-weight: normal;
    text-align: center;
    margin-bottom: 1%;
    text-decoration: underline;
}

.nombres{
background-color:rgb(31, 31, 73);
margin: 10px;
padding: 10px;
}

/* Large Devices, Wide Screens*/

@media (min-width:1024px){  

    .container{
        display: flex;
        align-items: center;
    }

    .main-header{
        display: inline;
    }
    
    .logo{
        width: 25%;
    }

    header img{
        float: right;
    }

    .navegacion ul li{
        float: left;
        margin: 1%;
    }

    .navegacion a{
        background-color: black;
    }

/* Lista de Artistas */

.artistas h1{
    font-size: 2vw;
    padding: 0%;
    text-align: start;
    background-color: black;
    margin-bottom: 0%;
}

.artistas img{
    width: 100%;
    border-radius: 5%;
}
.artistas ul{
    display: flex
}
.drake a{
    padding: 0%;
}

.artistas li{
    border-radius: 5%;
    display: block;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    background-color:rgb(31, 31, 73);
}

/* Lista de canciones */ 

.canciones h1{
    font-size: 2vw;
    padding: 0%;
    text-align: start;
    background-color: black;
    margin-bottom: 0%;
}
.canciones img{
    width: 80%;
    border-radius: 5%;
}
.canciones ul{
    display: flex;
    background-color: rgb(0, 0, 0);
   margin: 30px;
}
.marco-canciones{
    background-color: rgb(31, 31, 73);
    border-radius: 10px;
    margin: 10px;
    padding: 3%;
  
    
}



/* Lista de albumes */

.albumes h1{
    font-size: 2vw;
    padding: 0%;
    text-align: start;
    background-color: black;
    margin-bottom: 0%;
}

.albumes img{
    width: 30%;
    border-radius: 5%;
}

.albumes ul{
    display: flex;
    background-color: rgb(0, 0, 0);
}

}

/* Detalle de artistas */

.detalle-artistas{
    width: 50%;
    display: flex;
    flex-direction: column;
}

/* Detalle de Albumes */

.detalle-albumes{
    width: 50%;
    display: flex;
    flex-direction: column;
}


}