/* Resets */

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/* Generales */

body {
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: normal;
}
.container{
    display: flex;
    background-color: rgb(0, 0, 0);
    width: 95%;
    flex-direction: column;
    margin-left: 2.5%;
}
section{
    font-family: 'Suez One', serif;
}
section h1{
    margin-bottom: 2%;
    font-family: 'Suez One', serif;
}

/* Cabecera */

.main-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Suez One', serif;
    width: 100%;
}
.logo{
    margin: 0px;
    margin-bottom: 5%;
    width: 90%;
}
.main-header li, .main-header a{
    background-color: rgb(22, 22, 22);
    font-family: 'Suez One', serif;
    list-style: none;
    color: white;
    text-decoration: none;
    margin: 2%;
    padding: 1px;
    text-align: center;
    font-size: 20px;
}
.navegacion{
    margin-top: 4%;
    width: 95%;
}

/* Lista de artistas */
.artistas img{
    width: 65%;
}

.artistas h1{
    margin-top: 5%;
    margin-bottom: 3%;
    text-align: center;
    background-color: rgb(22, 22, 22);
    padding: 4%;
}
.artistas{
    flex-direction: column;
    align-items: center;
}
.artistas a, h3{
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 150%;
}
.marco-artistas{
    align-items: center;
    background-color: brown;
    margin-bottom: 5%;
}
.scott{
    margin: 2%;
}
.mars{
    margin: 2%;
}
.malone{
    margin: 2%;
}
.drake{
    margin: 10.5%;
}


/* Lista de Canciones */
.canciones h1{
    background-color: rgb(22, 22, 22);
    padding: 4%;
    text-align: center;
    margin-bottom: 5%;
}
.canciones img{
    width: 20%;
    border-radius: 15%;
    margin-left: 9%;

}
.canciones h3{
    margin-left: 3%;
}
.marco-canciones{
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5%;
}

.marco-canciones a{
    text-decoration: none;
}

/* lista albumes */

.albumes img{
    width: 50%;
    padding-left : 12%;
}

.albumes h1{
    background-color: rgb(22, 22, 22);
    text-align: center;
    padding: 4%;
    margin-bottom: 5%;
}
.marco-albumes{
    background-color: brown;
    margin-bottom: 5%;
    align-items: center;
}

.marco-albumes a{
    text-decoration: none;
}

/* footer */

footer ul, a, li{
    text-decoration: none;
    font-family: 'Arapey', serif;
    display: flex;
    font-size: 14px;
    justify-content: center;   
    margin: 4px;
    color: white;
}
footer p{
    font-family: 'Arapey', serif;
    font-size: 11px;
    text-align: center;
    margin: 1px;
}
/* playlist */

.playlist h1{
    font-weight: normal; 
    margin-top: 5%;
    background-color: rgb(22, 22, 22);
    text-align: center;
    padding: 4%;
    margin-bottom: 5%;
}
/* Generos */

.card-genero h1{
    font-weight: normal;
    margin-top: 5%;
    background-color: rgb(22, 22, 22);
    text-align: center;
    padding: 4%;
    margin-bottom: 5%;
   
}
.generos{
    padding: 3%;
    margin: 2%;
    background-color:blue;
}
.generos a{
    font-size: 20px;
    font-weight: normal;
    font-family: 'Suez One', serif;
    

}